<div>
  <div>
    <h1><%= @tournament.name %></h1>
    <h2><%= @tournament.location %></h2>
    <h2><%= @tournament.date %></h2>
  </div>
  <div class='container large-3 columns'>
    <% @decks.each do |deck| %>
      Placing: <%= deck.placing %>
      <div class="deck">
        <%= link_to deck.name, deck_path(deck) %>
      </div>
      <br>
    <% end %>
  </div>
  <div id='deck-content' class="container small-3 columns"></div>
  <div id='card-img' class='container small-3 columns'></div>


  <%= form_for [@tournament, @comment] do |f| %>
    <%= f.text_area :body %>
    <%= f.submit "Submit" %>
  <% end %>

  <% @comments.each do |comment| %>
    <li><%= comment.body %></li>
    <li><%= comment.user.email %></li>
  <% end %>
</div>
