<div class='tournaments-section'>
  <div class="tournament-name"><%= @tournament.name %></div>
  <div class="tournament-description">
    <%= @tournament.description %>
  </div>
</div>

<div class='container large-4 columns'>
  <div class='tournaments-section'>
    <% @decks.each do |deck| %>
      Placing: <%= deck.placing %>
      <div class="deck">
        <%= link_to deck.name, deck_path(deck) %>
      </div>
      <br>
    <% end %>
  </div>
</div>

<div id='deck-content' class="container large-4 columns"></div>
<div id='card-img' class='container large-4 columns'></div>

<div class='comments-section'>
  <div id="comments-title" class="container large-12 columns">Discussion</div>
  <div id="comment-form">
    <%= form_for [@tournament, @comment] do |f| %>
    <%= f.text_area :body %>
    <%= f.submit "Submit" %>
    <% end %>
  </div>

  <div id="comments-box">
    <% if @comments.empty? %>
    No one is discussing this. Be the first!
    <% else %>
      <% @comments.each do |comment| %>
        <ul class="comment-container">
          <li class="comment-creator"><%= comment.user.email %> says:</li>
          <li class="comment-body"><%= comment.body %></li>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>
