<table id="search-table">
  <tr>
    <th>Name</th>
    <th>Format</th>
    <th>Event</th>
    <th>Player</th>
  </tr>
  <% @decks.each do |deck| %>
    <tr>
      <td style="margin:auto;"><a href="/tournaments/<%= deck.tournament.id %>"><%= deck.name %></a></td>
      <td><%= deck.tournament.format %></td>
      <td><%= deck.tournament.name %></td>
      <td><%= deck.player %></td>
    </tr>
  <% end %>
</table>
