<%= @deck.name %>
<div>Player: <%= @deck.player %></div>
<br><br>

<div class="deck-contents">
Main:
  <% @cards.each do |card| %>
    <% if card.main? %>
      <li>
        <%= card.number_played %>
        <a href="<%=card.img_url%>"><%= card.name %></a>
      </li>
    <% end %>
  <% end %>
  </div>
  <% binding.pry %>

  <div>
  Sideboard:
  <%= @cards.each do |card| %>
    <% if !card.main? %>
      <li>
        <%= card.number_played %>
        <a href="<%=card.img_url%>"><%= card.name %></a>
      </li>
    <% end %>
  <% end %>
</div>
