<!DOCTYPE html>
<html>
  <head>
    <title>NetDeck</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h1>NetDeck</h1>

    <% flash.each do |key, value| %>
    <div class="flash">
      <%= value %>
    </div>
    <% end %>

    <%= form_tag(search_index_path, method: "get", id: "search") do %>
      <%= text_field_tag :search_index, params[:search], placeholder: "Search Decks" %>
      <%= submit_tag "Search", name: nil, id: "search-button" %>
    <% end %>

    <%= yield %>
  </body>
</html>
