<!DOCTYPE html>
<html>
  <head>
    <title>NetDeck</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css" rel="stylesheet">
  </head>

  <body>
    <%= form_tag(decks_path, method: "get", id: "search") do %>
      <%= text_field_tag :query, params[:search], placeholder: "Search Decks" %>
      <%= submit_tag "Search", name: nil, id: "search-button" %>
    <% end %>

    <nav id = "top-bar" data-topbar role="navigation">
      <%= form_tag(decks_path, method: "get", id: "search") do %>
        <%= text_field_tag :query, params[:search], placeholder: "Search Decks" %>
        <%= submit_tag "Search", name: nil, id: "search-button" %>
      <% end %>

     <ul class = "menu">
      <li>
        <div class="sign-in inline-block">
          <% if user_signed_in? %>
            <li><%= link_to "Log Off", destroy_user_session_path, method: :get %></li>
            <li><%= link_to "My Account", user_path(current_user) %></li>
          <% else %>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "Log In", new_user_session_path %></li>
          <% end %>
          <li class = "form-inline">
            <%= form_tag(recipes_path, method: "get", id: "search") do %>
              <li id="right"><%= text_field_tag :search, params[:search], placeholder: "Search Recipes" %></li>
              <%= submit_tag "Search", name: nil %>
            <% end %>
          </li>
          <% if current_user.try(:admin?) %>
            <li><%= link_to "View All Users", users_path %></li>
          <% end %>
        </div>
      </li>
    </ul>
  </nav>

    <%= yield %>
  </body>
</html>
